.home-info-cont{
  display: flex;
  flex-direction: column;
}

.img-letter-temp {
  width: 50px;
  height: auto;
  margin-left: 20px;
  animation: fadeIn 1s 1.5s backwards;
}

.img-letter{
  width: 50px;
  height: auto;
  margin-left: 20px;
  transition: transform 0.5s linear 0s;
  animation: bounce 1s 0.3s backwards, swing 1s 0.1s backwards;
}

.img-letter:hover {
  transform: rotateZ(-360deg) scale(.7);
}

.aditional-text {
  color: #cac8c8;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 4px;
  animation: fadeIn 2s 2s backwards;
}
.aditional-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flat-button {
  color: var(--color-main);
  background-color: black;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  text-align: center;
  padding: 10px 18px;
  border: 2px solid var(--color-main);
  margin-top: 2vh;
  float: left;
  white-space: nowrap;
  animation: fadeIn 2s 2s backwards;
  transition: all 0.5s 0.01s ease-in-out;
}

.flat-button:hover {
  background: var(--color-main);
  color: var(--color-background);
  border: 2px solid var(--color-main);
}

/* Tags */
.home-info-cont h1 {
  color: white;
  font-size: 53px;
  line-height: 53px;
  font-family: 'Coolvetica';
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: -10px;
}

.home-info-cont .main-text {
  color: white;
  font-size: 50px;
  line-height: 53px;
  font-family: 'Coolvetica';
  font-weight: 400;
}

.home-info-cont h1:before {
  content: '<>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 28px;
  position:absolute;
  transform: translate(-20px, -45px);
  animation: fadeIn 1s 1.7s backwards;
  opacity: 0.6;
}

.home-info-cont h1:after {
  content: '</>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 25px;
  position: absolute;
  margin-top: 18px;
  margin-left: 20px;
  animation: fadeIn 1s 1.7s backwards;
  opacity: 0.6;
}