.img-letter-temp {
  width: 50px;
  height: auto;
  margin-left: 20px;
  animation: fadeIn 1s 1.5s backwards;
}

.img-letter{
  width: 50px;
  height: auto;
  margin-left: 20px;
  transition: transform 0.5s linear 0s;
  animation: bounce 1s 0.3s backwards, swing 1s 0.1s backwards;
}

.img-letter:hover {
  transform: rotateZ(-360deg) scale(.7);
}

.aditional-text {
  color: #cac8c8;
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  font-family: sans-serif;
  letter-spacing: 4px;
  animation: fadeIn 2s 2s backwards;
}
.aditional-text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flat-button {
  color: var(--color-main);
  background-color: black;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  margin-left: 1vw;
  padding: 10px 18px;
  border: 2px solid var(--color-main);
  margin-top: 2vh;
  float: left;
  white-space: nowrap;
  animation: fadeIn 2s 2s backwards;
  transition: all 0.5s 0.01s ease-in-out;
}

.flat-button:hover {
  background: var(--color-main);
  color: var(--color-background);
  border: 2px solid red;
}