.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.tags{
  color: var(--color-main);
  opacity: 0.6;
  margin: 2vw;
  font-size: 22px;
  font-family: 'La Belle Aurore', cursive;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.info-container .main-content{
  display:flex;
}

.deco-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

/* Clases compartidas en los hijos */
.main-text {
  color: white;
  font-size: 50px;
  line-height: 53px;
  font-family: 'Coolvetica';
  font-weight: 400;
}

.main-text h1 {
  font-size: 53px;
  font-family: 'Coolvetica';
  color: white;
  font-weight: 400;
  margin-top: 0;
  position: relative;
  margin-bottom: 40px;
  left: -30px;
}

.main-text h1:before {
  content: '<h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  position: absolute;
  margin-top: -20px;
  left: -40px;
  opacity: 0.6;
  line-height: 18px;
}

.main-text h1:after {
  content: '</h1>';
  font-family: 'La Belle Aurore', cursive;
  color: #ffd700;
  font-size: 18px;
  line-height: 18px;
  position: absolute;
  left: 230px;
  bottom: -20px;
  margin-left: 20px;
  opacity: 0.6;
}

.main-text p {
  font-size: 18px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 300;
  max-width: fit-content;
  animation: pulse 1s;
}